@import "base";
@import "variables";
// @import 'fonts.css';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    overflow-x: hidden;
}
.header {
    width: 100%;
    height: 467px;

    &__img {
        width: 960px;
        height: 100%;
        position: relative;
        left: 151px;
    }
    &__logo {
        font-family: "Montserrat-Bold";
        font-size: 13px;
        position: relative;
        top: -434px;
        left: 317px;
        color: $second-color;
    }
    &__log-in {
        font-family: "Montserrat-Light";
        font-size: 9px;
        position: relative;
        top: -443px;
        left: 817px;
        color: $second-color;
    }
    &__sign-up {
        font-family: "Montserrat-Light";
        font-size: 9px;
        position: relative;
        top: -460px;
        left: 858px;
        color: $second-color;
        background-color: transparent;
        border-radius: 40px;
        border: 1px solid $second-color;
        width: 59px;
        height: 23px;
    }
    &__main-title {
        font-family: "Montserrat-Bold";
        font-size: 33px;
        position: relative;
        top: -362px;
        left: 476px;
        color: white;
        width: 313px;
        text-align: center;
        word-spacing: 5px;
        line-height: 43px;
    }
    &__title-small {
        font-family: "Montserrat-Light";
        font-size: 15px;
        position: relative;
        top: -343px;
        left: 498px;
        color: white;
        word-spacing: -3px;
    }
    &__header-btn {
        background-color: #ff4e50;
        border: 1px solid #ff4e50;
        color: white;
        position: relative;
        top: -319px;
        left: 557px;
        font-size: 9px;
        font-family: "Montserrat-Bold";
        height: 26px;
        width: 150px;
        border-radius: 40px;
    }
}
.section1 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 43px;
    &__title {
        font-family: "Montserrat-Bold";
        font-size: 17px;
        position: relative;
        top: 2px;
        left: 0px;
        word-spacing: 2px;
    }
}
.img-section {
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    position: relative;
    left: 318px;
    &__img {
        width: 200px;
        height: 267px;
        margin-right: 14px;
    }
}
.section2 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    &__title {
        font-family: "Montserrat-Bold";
        font-size: 17px;
        position: relative;
        top: 0px;
        left: 1px;
        word-spacing: 1px;
    }
}
.img-section2 {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    position: relative;
    left: 352px;
    &__img {
        width: 80px;
        height: 80px;
        margin-right: 80px;
    }
}
.text-section2 {
    display: flex;
    position: relative;
    top: 10px;
    left: 10px;
    &__text {
        font-family: "Montserrat-Bold";
        font-size: 10px;
        position: relative;
        top: 2px;
        left: 344px;
        word-spacing: -2px;
        width: 121px;
        margin-right: -6px;
    }
    &__text4 {
        font-family: "Montserrat-Bold";
        font-size: 10px;
        position: relative;
        top: 2px;
        left: 328px;
        word-spacing: -2px;
        width: 121px;
        margin-right: -6px;
    }
    &__text-sm {
        font-family: "Montserrat-Light";
        font-size: 9px;
        position: relative;
        top: 28px;
        left: 190px;
        word-spacing: -2px;
        text-align: center;
        width: 151px;
        margin-right: -103px;
    }
    &__text-sm4 {
        font-family: "Montserrat-Light";
        font-size: 9px;
        position: relative;
        top: 31px;
        left: 186px;
        word-spacing: -2px;
        text-align: center;
        width: 146px;
        margin-right: -103px;
    }
}
.btn {
    color: $main-color;
    border: 1px solid $main-color;
    position: relative;
    top: 67px;
    left: 573px;
    font-size: 9px;
    font-family: "Montserrat-Bold";
    height: 26px;
    width: 119px;
    border-radius: 40px;
}
.section3 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    &__title {
        font-family: "Montserrat-Bold";
        font-size: 17px;
        position: relative;
        top: 100px;
        left: 1px;
        word-spacing: 1px;
    }
}
.img-section3 {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    position: relative;
    left: 352px;
    &__img {
        width: 205px;
        height: 207px;
        margin-right: 80px;
        position: relative;
        top: 99px;
        left: -34px;
        margin-right: 13px;
    }

    &__img1 {
        width: 205px;
        height: 207px;
        margin-right: 80px;
        position: relative;
        top: 319px;
        left: -673px;
        margin-right: 13px;
    }
    &__img2 {
        width: 413px;
        height: 207px;
        margin-right: 80px;
        position: relative;
        top: 319px;
        left: -673px;
        margin-right: 13px;
    }
    &__img3 {
        width: 414px;
        height: 207px;
        margin-right: 80px;
        position: relative;
        top: 539px;
        left: -1314px;
        margin-right: 13px;
    }
    &__img4 {
        width: 205px;
        height: 207px;
        margin-right: 80px;
        position: relative;
        top: 539px;
        left: -1313px;
        margin-right: 13px;
    }
}
.section4 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    &__title {
        font-family: "Montserrat-Bold";
        font-size: 17px;
        position: relative;
        top: 698px;
        left: 1px;
        word-spacing: 1px;
    }
}
.search-form {
    display: flex;
    position: relative;
    top: 10px;
    left: 10px;
    &__question {
        font-family: "Montserrat-Light";
        font-size: 11px;
        position: relative;
        top: 708px;
        left: 530px;
        word-spacing: -2px;
        width: 202px;
        margin-right: -6px;
    }
    &__search {
        position: relative;
        top: 736px;
        left: 264px;
        width: 191px;
        height: 20px;
        &::placeholder {
            position: relative;
            top: 0px;
            left: 5px;
            font-size: 11px;
        }
    }
    &__btn {
        background-color: $main-color;
        border: 1px solid $main-color;
        color: $second-color;
        position: relative;
        top: 735px;
        left: 267px;
        font-size: 9px;
        font-family: "Montserrat-Bold";
        height: 26px;
        width: 115px;
        border-radius: 40px;
    }
}
hr {
    margin: 1rem 0;
    color: inherit;
    background-color: $main-color;
    border: 0;
    opacity: 0.25;
    position: relative;
    top: -33px;
    left: -16px;
    width: 960px;
}
.footer {
    background-color: $second-color;
    position: relative;
    top: 813px;
    left: 152px;
    height: 172px;
    width: 959px;
}

.container {
    &__img {
        position: relative;
        top: -27px;
        left: 138px;
        width: 78px;
        height: 8px;
    }
}
.d-flex {
    &__img {
        position: relative;
        top: -69px;
        left: -120px;
        width: 102px;
        height: 59px;
    }
}
.bbold1 {
    font-family: "Montserrat-Bold";
    position: relative;
    top: -80px;
    left: 299px;
    font-size: 9px;
}
.bbold2 {
    font-family: "Montserrat-Bold";
    position: relative;
    top: -80px;
    left: -90px;
    font-size: 9px;
}
.notbold {
    font-family: "Montserrat-Light";
    position: relative;
    top: -16px;
    left: 42px;
    font-size: 9px;
}
